{% extends 'base.html' %}
{% load staticfiles %}

{% block  header %}
  {{ block.super }}
{% endblock header %}

{% block body %}
  <section id="">
    <div class="container">
      <h5 class="all-blog-h5">Real insights from real tech leaders. It's pure straight talk.</h5>

      <input id="email" type="text" class="validate" placeholder="Search for your topic of interest">
      <span>Search results for </span>
      <div class="chip">
        Jane Doe
      </div>
    </div>
  </section>
  <section>
    <div class="container">

      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <a href="{% url 'blog_detail_page' %}"><img src="{% static 'images/blog_img1.jpg' %}"></a>
              <span class="card-title">How to make good decisions.</span>
            </div>
            <div class="card-content">
              <p>By <a href="{% url 'profile_detail_page' %}">Sunny Arora</a>, CEO, Broadsuite Media Group</p>
            </div>
            <div class="fixed-action-btnwrapper-all-blog">
              <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red" style="width:38px; height:38px;">
                  <i class="material-icons" style="line-height:35px;" >add</i>
                </a>
                <ul id="my-strong-id" style="margin-right:20px!important;">
                  <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                  <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                  <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                  <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn full-article-btn" href="{% url 'blog_detail_page' %}">Full blog</a>
              <a class="waves-effect waves-light btn summary-btn modal-trigger" href="#modal1">Summary</a>
            </div>
          </div>
        </div>

       <!-- Modal Structure -->
       <!-- <div id="modal1" class="modal">
         <div class="modal-content">
           <h4>Modal Header</h4>
           <p>A bunch of text</p>
         </div>
         <div class="modal-footer">
           <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
         </div>
       </div>
      </div> -->

      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <a href="{% url 'blog_detail_page' %}"><img src="{% static 'images/blog_img1.jpg' %}"></a>
              <span class="card-title">How to make good decisions.</span>
            </div>
            <div class="card-content">
              <p>By <a href="{% url 'profile_detail_page' %}">Sunny Arora</a>, CEO, Broadsuite Media Group</p>
            </div>
            <div>
              <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red" style="width:38px; height:38px;">
                  <i class="material-icons" style="line-height:35px;" >add</i>
                </a>
                <ul>
                  <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                  <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                  <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                  <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-action">

              <a class="waves-effect waves-light btn full-article-btn" href="{% url 'blog_detail_page' %}">Full blog</a>
              <a class="waves-effect waves-light btn summary-btn modal-trigger" href="#modal1">Summary</a>

            </div>
          </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h5>How to make good decisions(Summary)</h5>
            <p> In the end, artificial intelligence back then was a lot of experimentation between what data sets to test, what algorithms to apply, what parameters to configure, and how to best program them to get better performance.Are you Ready to Experiment with AI and Machine Learning?I've been fortunate to have had some opportunities to develop artificial intelligence in business applications.I've developed or led teams to develop tools that enable comparing genetic and protein samples, natural language processing algorithms to extract search terms from newspaper classified advertisements, and document processing techniques for extracting building material names from construction blue prints and building specifications.
* What was common across all three applications is that it required significant experimentation, first to get the basic algorithm.</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <a href="{% url 'blog_detail_page' %}"><img src="{% static 'images/blog_img1.jpg' %}"></a>
              <span class="card-title">How to make good decisions.</span>
            </div>
            <div class="card-content">
              <p>By <a href="{% url 'profile_detail_page' %}">Sunny Arora</a>, CEO, Broadsuite Media Group</p>
            </div>
            <div>
              <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red" style="width:38px; height:38px;">
                  <i class="material-icons" style="line-height:35px;" >add</i>
                </a>
                <ul>
                  <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                  <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                  <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                  <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-action">

              <a class="waves-effect waves-light btn full-article-btn" href="{% url 'blog_detail_page' %}">Full blog</a>
              <a class="waves-effect waves-light btn summary-btn">Summary</a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock body %}

{% block scripts %}
  {{ block.super }}
  <script>

      //  $('.fixed-action-btn').openFAB();
      $(document).ready(function(){
       // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
       $('.modal-trigger').leanModal();
      //  $('.modal-trigger-signup').leanModal();
     });

  </script>
{% endblock scripts %}
