{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}

{% endblock header %}
{% block body %}
  <section id="home-section">
  <div class="container" style="padding-top:130px;">
    <h5 class="first-h5">Where Tech Executives Grow.</h5>
    <h5 class="first-h5">Learn | Connect | Act</h5>
    <div class="linkedin-auth">
      <a href=""><img src="{% static 'images/linkedin_login.png' %}" alt="" style="width:60%;"></a>
    </div>
  </div>


  </section>

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-content">
    <div class="row">
      <form class="{% url 'sign_up_page2' %}">
        <div class="row">
          <div class="input-field">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light submit-button-login" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
     </div>

 </div>
 <!-- Modal Structure -->
 <div id="modal2" class="modal">
   <div class="modal-content">
    <div class="row">
      <form class="" action="{% url 'sign_up_page2' %}">
        <div class="row">
          <div class="input-field">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">Confirm Password</label>
          </div>
        </div>
        <a class="btn waves-effect waves-light submit-button-signup" type="submit" herf="{% url 'sign_up_page2' %}" name="action">Submit
          <i class="material-icons right">send</i>
        </a>
      </form>
    </div>
  </div>
 </div>
  <div class="button-container">
    <a class="waves-effect waves-light btn-large login-button modal-trigger" href="#modal1">LOG IN</a>
    <a class="waves-effect waves-light btn-large signup-button modal-trigger-signup" href="#modal2">SIGN UP</a>
  </div>

  <!-- Modal Structure -->

{% endblock body %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
  function windowH() {
   var wH = $(window).height();

   $('.sideBar, .mainImg').css({height: wH});
  }
  $(document).ready(function(){
   // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
   $('.modal-trigger').leanModal();
  $('.modal-trigger-signup').leanModal();
 });

  windowH();
  $('.submit-button-signup').on('click', function(e){
    e.preventDefault();
     window.location.href = '/profile-edit/';
  });
  $('.submit-button-login').on('click', function(e){
    e.preventDefault();
    window.location.href = '/all-blog/';
  });
  </script>
{% endblock scripts %}
