{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}
  <header class="profile-edit-header">
    <div class="container">
      <a href="" onClick="javascript:history.go(-1);"><img class="back-btn" src="{% static 'images/back.png' %}" alt="" /></a>

      <img class="profile-edit-image" src="{% static 'images/profile_demo.png' %}" alt="">
      <br>
      <span class="edit-profile-span">edit your profile</span>
    </div>
  </header>
{% endblock header %}
{% block body %}

  <div class="container">
    <div class="row form-starts">
     <div class="input-field ">
       <input value="" id="first_name2" type="text" class="validate">
       <label class="active" for="first_name2">Name</label>
     </div>
     <div class="input-field ">
       <input value="" id="first_name2" type="text" class="validate">
       <label class="active" for="first_name2">POSITION</label>
     </div>
     <div class="input-field">
       <!-- <input value="" id="first_name2" type="text" class="validate" placeholder=""> -->
       <label class="active" for="first_name2">ABOUT ME?</label>
        <textarea id="textarea1" class="materialize-textarea"></textarea>
     </div>
     <div class="input-field">
       <!-- <input value="" id="first_name2" type="text" class="validate" placeholder=""> -->
       <label class="active" for="first_name2">INTERESTS</label>
        <div class="chips chips-initial"></div>
     </div>

     <a class="btn waves-effect waves-light profile-edit-submit" type="submit" href="{% url 'profile_detail_page' %}">Submit
      <i class="material-icons right">send</i>
    </a>
   </div>

  </div>

{% endblock body %}

{% block scripts %}
{{ block.super }}
<script>

$('.chips').material_chip();
$('.chips-initial').material_chip({
  data: [{
    tag: 'Apple',
  }, {
    tag: 'Microsoft',
  }, {
    tag: 'Google',
  }],
});
$('.chips-placeholder').material_chip({
  placeholder: 'Enter a tag',
  secondaryPlaceholder: '+Tag',
});

</script>
{% endblock scripts %}
